<div class="sidebar-overlay"></div>
<div class="side-bar">
 <a class="close-side" href="#"><i class="fa fa-times"></i></a>
 <!-- start side widget -->
 <div class="sidebar-widget logo-side">
  <a href="index.html"><img id="logo" alt="logo" src="/static/assets/img/logo/logo.png" /></a>
 </div>
 <!-- end side widget -->
 <!-- start side widget -->
 <div class="sidebar-widget">
  <div class="info-wdget">
   <h4 class="widget-title">Office Address</h4>
   <p>23/A,Miranda City Likaoli Prikano,Dope </p>
  </div>
 </div>
 <!-- end side widget -->
 <!-- start side widget -->
 <div class="sidebar-widget">
  <div class="info-wdget">
   <h4 class="widget-title">Phone Number</h4>
   <p>+0989 7876 9865 9 </p>
   <p>+(090) 8765 86543 85 </p>
  </div>
 </div>
 <!-- end side widget -->
 <!-- start side widget -->
 <div class="sidebar-widget">
  <div class="info-wdget">
   <h4 class="widget-title">Email Address</h4>
   <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1f767179705f7a677e726f737a317c7072">[email&nbsp;protected]</a></p>
   <p><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="cfaab7aea2bfa3aae1a2aea6a38fa7baa2e1aca0a2">[email&nbsp;protected]</a></p>
  </div>
 </div>
 <!-- end side widget -->
 <!-- start side widget -->
 <div class="sidebar-widget">
  <div class="instagram">
   <!-- <a href="#"><img alt="instagram" src="assets/img/widget/instagram-1.jpg" /></a>
   <a href="#"><img alt="instagram" src="assets/img/widget/instagram-2.jpg" /></a>
   <a href="#"><img alt="instagram" src="assets/img/widget/instagram-3.jpg" /></a>
   <a href="#"><img alt="instagram" src="assets/img/widget/instagram-4.jpg" /></a>
   <a href="#"><img alt="instagram" src="assets/img/widget/instagram-5.jpg" /></a>
   <a href="#"><img alt="instagram" src="assets/img/widget/instagram-6.jpg" /></a> -->
  </div>
 </div>
 <!-- end side widget -->
 <!-- start side widget -->
 <div class="sidebar-widget">
  <div class="social-widget">
   <a href="#"><i class="fab fa-weixin"></i></a>
   <a href="#"><i class="fab fa-weibo"></i></a>
   <a href="#"><i class="fab fa-google-plus-g"></i></a>
   <a href="#"><i class="fab fa-qq"></i></a>
  </div>
 </div>
 <!-- end side widget -->
</div>
