<div class="primary-area pt-140">
 <div class="container">
  <div class="row">
   <div class="col-xl-12 position-relative">
    <div class="footer-brand-text">
     <h3>Biver</h3>
    </div>
    <div class="footer-logo text-center mb-50">
     <a href="/"><img id="logo" src="/static/assets/img/logo/width_logo.png" alt="logo-white" /></a>
    </div>
    <div class="footer-social-wrapper">
     <ul>
      <li>
       <div class="footer-social-icon">
        <a href="#"><i class="fab fa-weixin"></i></a>
       </div>
       <div class="footer-social-details">
        <h4><a href="#">微信公众号</a></h4>
        <span>PM</span>
       </div></li>
      <li>
       <div class="footer-social-icon">
        <a href="#"><i class="fab fa-qq"></i></a>
       </div>
       <div class="footer-social-details">
        <h4><a href="#">QQ</a></h4>
        <span>23564k</span>
       </div></li>
      <li>
       <div class="footer-social-icon">
        <a href="#"><i class="fab fa-weibo"></i></a>
       </div>
       <div class="footer-social-details">
        <h4><a href="#">微博</a></h4>
        <span>看过够</span>
       </div></li>
      <li>
       <div class="footer-social-icon">
        <a href="#"><i class="fab fa-youtube"></i></a>
       </div>
       <div class="footer-social-details">
        <h4><a href="#">Youtube</a></h4>
        <span>564023k</span>
       </div></li>
      <li>
       <div class="footer-social-icon">
        <a href="#"><i class="fab fa-git"></i></a>
       </div>
       <div class="footer-social-details">
        <h4><a href="#">github</a></h4>
        <span>1023564</span>
       </div></li>
     </ul>
    </div>
    <div class="footer-separator mt-30 mb-30"></div>
   </div>
  </div>
 </div>
</div>
<div class="secondary-footer">
 <div class="container">
  <div class="row">
   <div class="col-xl-12 text-center">
    <div class="footer-menu">
     <nav>
      <ul>
       <li><a href="#">本站访客数{{$.UV}}人次</a></li>
       <li><a href="#">本站总访问量{{$.PV}}次</a></li>
      </ul>
     </nav>
    </div>
    <div class="copyright mb-25">
     Copyright &copy; {{date .T "Y"}}
     <a href="http://www.kanguogou.com/">{{$.title}}</a>. All Rights Reserved
    </div>
    <div class="copyright mb-25">
     <a href="https://beian.miit.gov.cn" target="_blank" style="color:#d0cfcf">皖ICP备20008112号-1</a>
    </div>
   </div>
  </div>
 </div>
</div>
