<link rel="stylesheet" href="/static/lib/layui/css/layui.css" />
<div class="clear" style="height: 80px"></div>
<div class="diyBg" id="footer"
     style="background-color: #169fe6;
            /*position: fixed;*/
            bottom: 0px;
            /*width: 100%;*/
            /*border-top: 2px solid;*/
            border: 1px solid #138cca;
            margin-bottom: 0px;
            text-align: center;
            z-index: 999;
            color: #FFFFFF;
">
    Copyright &copy; {{date .T "Y"}} {{$.title}}
    <span>
        <div style="margin-top: 10px">
            友情链接：
            {{range $k ,$v := $.Link}}
                <a href="{{$v.Url}}" target="_blank" style="color: #FFFFFF">{{$v.Title}}</a>
            {{end}}
        </div>
    </span>
    <span>
        <div style="margin-top: 10px">
            <span class="site-uv">
                <i class="layui-icon">&#xe66f;</i> 本站访客数
                <span class="busuanzi-value" id="busuanzi_value_site_uv">{{$.UV}}</span>人次
            </span>
            |
            <span class="site-pv">
                <i class="layui-icon">&#xe62c;</i> 本站总访问量
                <span class="busuanzi-value" id="busuanzi_value_site_pv">{{$.PV}}</span>
              次
            </span>
        </div>
    </span>
    <span>
        <div style="margin-top: 10px">
            如果不想随波追流就现在开始改变，自律>认真>乐观>坚持，我们要相信我们>的日积月累早晚会让别人望尘莫及。
            {{/*友情链接：
            <a href="http://www.jebook.cn" target="_blank" style="color: #FFFFFF">句子迷</a>
            <a href="http://www.jebook.cn/letter.html" target="_blank" style="color: #FFFFFF">给未来一封信</a>
            <a href="http://cms.jebook.cn/" target="_blank" style="color: #FFFFFF">企业建站</a>
            <a href="http://139.199.167.135:8080/" target="_blank" style="color: #FFFFFF">五子棋对战</a>
            */}}
        </div>
    </span>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d8581f21ed7c622"></script>
