<footer id="footer">
    <div class="container">
        <div class="row footer-wrap">
            <div class="col-md-12 desc">
                <p>
                    <a target="_blank" href="http://leechan.online/"><strong>关于</strong></a>
                    <a target="_blank" href="https://github.com/1920853199/go-blog" target="_blank"><strong><i
                                    class="icon-github-sign"></i> Github</strong></a>
                </p>
                <p>
                    <div style="margin-top: 10px">
                    <span>此站首页使用了<a href="https://beego.me" target="_blank"> Beego 官网 </a>网站首页模板</span>
                    </div>
                </p>
                <p>
                <div style="margin-top: 10px">
                        <span class="site-uv">
                            <i class="layui-icon">&#xe66f;</i> 本站访客数
                            <span class="busuanzi-value" id="busuanzi_value_site_uv">{{$.UV}}</span>人次
                        </span>
                    |
                    <span class="site-pv">
                            <i class="layui-icon">&#xe62c;</i> 本站总访问量
                            <span class="busuanzi-value" id="busuanzi_value_site_pv">{{$.PV}}</span>
                          次
                        </span>
                </div>
                </p>
            </div>
        </div>
    </div>
</footer>
</div>

<script>/* Beego Compress group `lib` begin */</script>
<script type="text/javascript" src="/static/default/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/default/js/jquery.extend.js"></script>
<script type="text/javascript" src="/static/default/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/default/js/lib.min.js"></script>
<script type="text/javascript" src="/static/default/js/prettify.js"></script>
<script type="text/javascript" src="/static/default/js/jstorage.js"></script>
<script type="text/javascript" src="/static/default/js/jquery.jpanelmenu.min.js"></script>
<script type="text/javascript" src="/static/default/js/jrespond.min.js"></script>
<script type="text/javascript" src="/static/default/js/jquery.clingify.min.js"></script>
<script type="text/javascript" src="/static/default/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="/static/default/js/masonry.pkgd.min.js"></script>
<script>/* end */</script>
<script>/* Beego Compress group `app` begin */</script>
<script type="text/javascript" src="/static/default/js/main.js"></script>
<script>/* end */</script>
</body>
</html>
